body { background: #dbebf5 url(theme/bg.jpg) repeat top left !important }

#tracker {
    height: 130px !important;
    background: url(theme/top.png) repeat-x top left;
    position: relative
}

#profile {
    background: url(theme/px.png) repeat !important;
    border: 1px solid #00b4ff !important;
    -moz-box-shadow: 0 0 32px #2fb8ff !important;
    -webkit-box-shadow: 0 0 32px #2fb8ff !important;
    box-shadow: 0 0 32px #2fb8ff !important;
}

#profm a { color: #009cff !important }

#profm a:hover { color: #006cff !important }

#profip { color: #0096ff !important }

#logo {
    width: 327px !important;
    height: 225px !important;
    background: url(theme/logo.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0
}

#cimg {
    width: 361px;
    height: 219px;
    background: url(theme/ny.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -180px;
}

#footer {
    background: url(theme/fbg.png) repeat-x top !important;
    border: 0 !important;
    -moz-box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 !important;
}

#login { background: #e2f6ff !important }


#login, #pass {
    -moz-box-shadow: inset 1px 1px 4px #7cc3ff !important;
    -webkit-box-shadow: inset 1px 1px 4px #7cc3ff !important;
    box-shadow: inset 1px 1px 4px #7cc3ff !important;
    background: #effaff !important;
    color: #39adff !important
}

#logreg a {
    color: #ffffff !important;
    text-shadow: 0 0 2px #004f87, 0 0 6px #004f87 !important
}

@font-face {
    font-family: 'YouRookMarbelousRegular';
    src: url('font/11271-webfont.eot');
    src: url('font/11271-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/11271-webfont.woff') format('woff'),
         url('font/11271-webfont.ttf') format('truetype'),
         url('font/11271-webfont.svg#YouRookMarbelousRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



#ny_date {
    position: absolute;
    top: 175px;
    right: 65px;
    color: #00b0f1;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 6px #fff, 0 0 8px #fff;
    width: 190px;
    font-family: 'YouRookMarbelousRegular';
    font-size: 32px;
    display: block !important
}



#inb { background: url(theme/in.png) no-repeat }