.pane {
    /*background: none repeat scroll 0 0 #EDF5E1;*/
    border-top: 2px solid #C4DF9B;
    /*border-top:dotted 1px #00B79E;*/
    padding: 0px 0px;
    position: relative;
}
.pane .delete {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
h4
{
    color: #3D3B3A;
    padding:0;
    margin:0;
}